
<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="content-language" content="en">
<meta http-equiv="X-Frame-Options" content="deny">

<!-- Favicons -->
<link rel="apple-touch-icon" href="http://cyfor.isis.poly.edu/poly-logo.png">
<link rel="shortcut icon" href="http://cyfor.isis.poly.edu/favicon.ico">

<!-- Mobile optimizations -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<script src="./webform_files/login" type="text/javascript"></script><script type="text/javascript" async="" src="./webform_files/ga.js"></script><script type="text/javascript" id="janrainAuthWidget" src="./webform_files/engage.js"></script><script language="javascript" type="text/javascript" src="./webform_files/jquery.min.js"></script>
<script language="javascript" type="text/javascript" src="./webform_files/jquery-ui.min.js"></script>
<script language="javascript" type="text/javascript" src="./webform_files/bootstrap.js"></script>

<link href="http://cyfor.isis.poly.edu/assets/css/bootstrap.css" rel="stylesheet">
<link href="http://cyfor.isis.poly.edu/assets/css/bootstrap-responsive.css" rel="stylesheet">
<link href="http://cyfor.isis.poly.edu/assets/css/font-awesome.css" rel="stylesheet">

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="http://www2.warwick.ac.uk/" style="padding:0 0 0 10px;"><img src="static/img/warwick.PNG" style="height:50px;" /></a>
      <ul class="nav">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        {%- if current_user.is_authenticated() -%}
        <li><a href="{{ url_for('profile') }}">Profile</a></li>
        <li><a href="{{ url_for('security.logout') }}">Log out</a></li>
        {%- else -%}
        <li><a href="{{ url_for('security.login') }}">Log in</a></li>
        {%- endif -%}
	<ul class="nav pull-right">
          <li class="divider-vertical"></li>
	    <a class="brand" href="http://cusp.nyu.edu/" style="padding:0 0 0 10px;"><img src="static/img/cusp.PNG" style="width:90px;height:50px;" /></a></li>
	</ul>
      </ul>
    </div>
  </div>
</div>
