

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="http://www2.warwick.ac.uk/" style="padding:0 0 0 10px;"><img src="static/img/warwick.PNG" style="height:50px;" /></a>
      <ul class="nav">
        <li><a href="{{ url_for('index') }}">Home</a></li>
        {%- if current_user.is_authenticated() -%}
        <li><a href="{{ url_for('profile') }}">Profile</a></li>
        <li><a href="{{ url_for('security.logout') }}">Log out</a></li>
        {%- else -%}
        <li><a href="{{ url_for('security.login') }}">Log in</a></li>
        {%- endif -%}
	<ul class="nav pull-right">
          <li class="divider-vertical"></li>
	    <a class="brand" href="http://cusp.nyu.edu/" style="padding:0 0 0 10px;"><img src="static/img/cusp.PNG" style="width:90px;height:50px;" /></a></li>
	</ul>
      </ul>
    </div>
  </div>
</div>
